@media(min-width:768px)
{
    .products{grid-template-columns:repeat(2,1fr)}


    nav {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .hero {
        padding: 5rem 2rem;
    }

    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    .about-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    form {
        max-width: 700px;
        margin: auto;
    }

    footer {
        text-align: center;
    }
}
